<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/nav.css" />
        <link rel="stylesheet" href="/css/variables.css" />
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/profile.css" />
        <link rel="stylesheet" href="/css/read_book.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        
        <title>Book Notes</title>
    </head>
    <body>
        <header>
            <% if (locals.message) { %>
                <div class="notification">
                    <div class="close-button"><img src="images/plus.svg" alt="cross button click to dismiss notification"></div>
                    <p><%= message.message %></p>
                    <a class="button" href="<%= message.redirect %>"><%= message.button %></a>
                    <div class="timer"></div>
    
                </div>
            <% } %>
            <nav>
                <div class="branding">
                    <div class="lg-logo-back disabled">
                        <img
                            src="/images/Booker-Logo.png"
                            alt="booker-logo"
                            class="logo lg-logo disabled"
                            draggable="false" />
                    </div>
                    <img
                        src="/images/Booker-Logo.png"
                        alt="booker-logo"
                        class="logo"
                        draggable="false" />
                    <p class="nav-option">Booker</p>
                </div>
                <div class="options">
                    <ul>
                        <li class="nav-option" id="Home">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav-option" id="Me">
                            <a href="/me">Me</a>
                        </li>
                        <% if (locals.profileImage) { %>
                        <li class="nav-option">
                            <img
                            src="<%= profileImage %>"
                            alt="User Profile Image" class="profileImage"/>
                        </li>
                        <% } else if(locals.user) { %>
                        <li class="nav-option">
                            <img
                            src="<%= user.display_picture %>"
                            alt="User Profile Image" class="profileImage"/>
                        </li>
                        <% } else { %>
                        <li class="nav-option" id="signUp">
                            <a href="/signUp">SignUp</a>
                        </li>
                        <li class="nav-option" id="login">
                            <a href="/login">Login</a>
                            </li>
                        <% } %>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="navarea"></div>
    </body>
</html>
