<%- include('./partials/header.ejs') %>
<div class="container">
    <section class="social-options">
        <form action="/auth/google" method="POST" id="authenticate-with-login">
            <div class="google options" href="auth/google" onclick="$('#authenticate-with-login').submit()">
                <img src="images/google.svg" alt="google logo">
                <a href="/auth/google/" class="google"><%= task %> With Google</a>
            </div>
        </form>
    </section>

    <section class="seprate">
        <div class="seprator"></div>
        <p>OR</p>
        <div class="seprator"></div>
    </section>
    <section class="local-login">
        <form action="/auth/local/<%= task %>" method="POST" >
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required />
            <label for="password">Password: </label>
            <input type="text" name="password" id="password" required />
            <label for="retype-password">Retype-Password: </label>
            <input type="retype-password" name="retype-password" id="retype-password" required />
            <p class="message"></p>
            <button type="submit" class="login-button"><%= task %></button>
        </form>
    </section>
</div>

<%- include('./partials/footer.ejs') %>
