<%- include('./partials/header.ejs') %>

<% function howMuchStar(starNo) {

let diff = book.bookData.rating - starNo;
diff = Math.round(diff * 10) / 10
if (diff >= 1) {
return "fa fa-star"
} else if (diff > -0.4 && diff < 1) { // if star no is x.7 or higher
return "fa fa-star"
} else if (diff > -0.8 && diff < 1) {
return "fa fa-star-half-stroke"
} else {
return "far fa-star"
}

} %>
<div class="container">
    <div class="info-card">
        <div class="cage">
            <img class="cover-image"
                src="<%= book.bookData.cover_image_url %>"
                alt="Cover image" />
        </div>
        <div class="description">
            <p>Description :</p>
            <div class="cage">
                <p class="">
                    <%= book.bookData.description %>
                </p>
            </div>
            <div class="rate">
                <p class="">Rating : </p>
                <i class="fa-2x<%= howMuchStar(1) %>"></i>
                <i class="fa-2x<%= howMuchStar(2) %>"></i>
                <i class="fa-2x<%= howMuchStar(3) %>"></i>
                <i class="fa-2x<%= howMuchStar(4) %>"></i>
                <i class="fa-2x<%= howMuchStar(5) %>"></i>
            </div>
        </div>
    </div>

    <div class="info-card chapters">
        <p>Chapters: </p>
        <div class="seprater"></div>
        <% book.chapterData.forEach(chapter => { %>
        <p class="chapter-name">
            <%= chapter.chapter_name %>
        </p>
        <div class="seprater"></div>
        <% }) %>
    </div>




    <div class="info-card comments">

        <form action="#" class="post-comment" method="POST">
            <div class="stars">
                <div class="star">
                    <button
                        type="button" class="fa-regular fa-star fa-3x half-star1 half-star"></button>
                </div>
                <div class="star">
                    <button
                        type="button" class="fa-regular fa-star fa-3x half-star3 half-star"></button>
                </div>
                <div class="star">
                    <button
                        type="button" class="fa-regular fa-star fa-3x half-star5 half-star"></button>
                </div>
                <div class="star">
                    <button
                        type="button" class="fa-regular fa-star fa-3x half-star7 half-star"></button>
                </div>
                <div class="star">
                    <button
                        type="button" class="fa-regular fa-star fa-3x half-star9 half-star"></button>
                </div>
            </div>
        </form>
        <% book.commentData.forEach(comment => { %>
        <div class="comment cage">
            <div class="profile">
                <img src="<%= comment.display_picture %>"
                    alt="commenter's display Picture">
            </div>
            <div class="comment-wrapper ">
                <div class="commentor">
                    <p class="commentor-name">
                        <%= comment.display_name %>
                    </p>
                    <p class="ago">
                        <%= comment.timeAgo %>
                    </p>
                </div>
                <div class="comment-message">
                    <p>
                        <%= comment.comment %>
                    </p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include("partials/footer.ejs") %>