<%- include('./partials/header.ejs') %> <% function howMuchStar(starNo) { 
    let diff = book.bookData.rating - starNo; diff = Math.round(diff * 10) / 10 
    if (diff>= 1) { return "fa fa-star" } else if (diff > -0.4 && diff < 1) { 
 return "fa fa-star" } else if (diff > -0.8 && diff < 1) {
return "fa fa-star-half-stroke" } else { return "far fa-star" } } %>
<div class="container">
    <div class="info-card">
        <div class="cage">
            <img
                class="cover-image"
                src="<%= book.bookData.cover_image_url %>"
                alt="Cover image" />
        </div>
        <div class="description">
            <p>Description :</p>
            <div class="cage">
                <p class=""><%= book.bookData.description %></p>
            </div>
            <div class="rate">
                <p class="">Rating :</p>
                <i class="fa-2x <%= howMuchStar(1) %>"></i>
                <i class="fa-2x <%= howMuchStar(2) %>"></i>
                <i class="fa-2x <%= howMuchStar(3) %>"></i>
                <i class="fa-2x <%= howMuchStar(4) %>"></i>
                <i class="fa-2x <%= howMuchStar(5) %>"></i>
            </div>
        </div>
    </div>

    <div class="info-card chapters">
        <% if (locals.note) { %>
        <p class="note"><%= note %></p>
        <i class="fas fa-arrow-right fa-2x arrow"></i>
        <% } else { %>
        <form action="/book" method="POST">
            <p>Chapters:</p>
            <div class="seprater"></div>
            <input
                class="hidden"
                type="text"
                value="<%= id %>"
                name="book_id" />
            <% book.chapterData.forEach((chapter, index) => { %>
            <button class="chapter" type="submit" name="chapter" value="<%= `${index}` %>">
                <p class="chapter-name"><%= chapter.chapter_name %></p>
            </button>
            <div class="seprater"></div>
            <% }) %>
        </form>
        <% } %>
    </div>

    <div class="info-card comments">
        <form action="/book" class="post-comment" method="POST">
            <input
                class="hidden"
                type="text"
                value="<%= id %>"
                name="book_id" />

            <div class="stars">
                <div class="star" id="s1">
                    <input
                        type="radio"
                        name="rating"
                        id="star1"
                        value="1"
                        required />
                    <label for="star1" class="far fa-star fa-3x"></label>
                </div>
                <div class="star" id="s2">
                    <input type="radio" name="rating" id="star2" value="2" />
                    <label for="star2" class="far fa-star fa-3x"></label>
                </div>
                <div class="star" id="s3">
                    <input type="radio" name="rating" id="star3" value="3" />
                    <label for="star3" class="far fa-star fa-3x"></label>
                </div>
                <div class="star" id="s4">
                    <input type="radio" name="rating" id="star4" value="4" />
                    <label for="star4" class="far fa-star fa-3x"></label>
                </div>
                <div class="star" id="s5">
                    <input type="radio" name="rating" id="star5" value="5" />
                    <label for="star5" class="far fa-star fa-3x"></label>
                </div>
            </div>

            <div class="write-comment">
                <img src="<%= profileImage %>" alt="Profie Image" />
                <div>
                    <input
                        type="text"
                        name="comment"
                        placeholder="Comment on book '<%= book.bookData.title %>'"
                        autocomplete="off"
                        required />
                    <button type="submit">
                        <img
                            src="/images/send.png"
                            alt="Send button"
                            clickable
                            focusable />
                    </button>
                </div>
            </div>
        </form>
        <% book.commentData.forEach(comment => { %>
        <div class="comment cage">
            <div class="profile">
                <img
                    src="<%= comment.display_picture %>"
                    alt="commenter's display Picture" />
            </div>
            <div class="comment-wrapper">
                <div class="commentor">
                    <p class="commentor-name"><%= comment.display_name %></p>
                    <p class="ago"><%= comment.timeAgo %></p>
                </div>
                <div class="comment-message">
                    <p><%= comment.comment %></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include("partials/footer.ejs") %>
